#body{
	height: 680px;
	overflow: auto;
}
#outside{
	height: 150px;
	width: 300px;
	display: inline-table;
	margin-left:10%;
}
.btnSubmit{
    font-weight: 600;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 0.5rem;
    padding:5%;
    margin-top: 10px;
}